.divMain {
  height: 752px;
  width: 250px;
  position: fixed;
  background: black;
}
.divMain1 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 55px;
}
.divMain1 > a {
  display: flex;
  position: relative;

  padding: 0px 0px 0px 35px;
}
.divMain1 > a > img {
  min-width: 60%;
  min-height: 60%;
  height: 60%;
  width: 60%;
  object-fit: cover;
  position: relative;
}

.divMain2 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 22px;

  align-items: flex-start;

  padding: 0px 0px 0px 41px;
}
.divMain3 > a {
  display: flex;
  width: 209px;
  align-items: center;
  text-decoration: none;
  color: #5a5a5a;
}
.divMain3 > a:focus {
  color: white;
}
.divMain4 > a {
  display: flex;
  width: 209px;
  align-items: center;
  text-decoration: none;
  color: #5a5a5a;
}
.divMain4 > a:focus {
  color: white;
}

.divMain3 {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
}
.divMain3 > a > svg {
  display: flex;
  width: 12%;
  height: 12%;
}
.divMain3 > a > h1 {
  display: flex;
  font-size: 16px;
  font-family: cursive;
  position: relative;
  left: 9px;

  text-decoration: none;
}
.divMain4 {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  margin-top: 14px;
}
.divMain4 > a > svg {
  display: flex;
  width: 10%;
  height: 10%;
}
.divMain4 > a > h1 {
  display: flex;
  font-size: 16px;
  font-family: cursive;

  position: relative;
  left: 12px;

  text-decoration: none;
}
.divMain3 > a:hover {
  color: white;

  text-decoration: underline;
}
.divMain3 > a:hover {
  color: white;

  text-decoration: underline;
}
