.playlist {
  display: flex;
  position: relative;
  left: 251px;
  width: 83.5%;

  min-height: 100%;
  flex-direction: column;
}
.playlist1 {
  height: 50vh;
  width: 100%;
}
.playlist1 > img {
  display: flex;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 6%;
}
.playlist2 {
  display: grid;
  position: absolute;
  top: 181px;
  height: 192px;
}
.playlist2 > h1 {
  display: flex;

  margin-left: 18px;

  font-size: 14px;
  color: white;
  font-family: cursive;
}
.playlist2 > h2 {
  display: flex;
  margin-left: 14px;
  font-size: 60px;
  color: white;
  font-family: cursive;
}
.playlist2 > h3 {
  display: flex;
  margin-left: 14px;
  font-size: 13px;
  color: white;
  font-family: cursive;
}
.playlist3 {
  display: flex;
  position: relative;
  top: 90px;
  flex-direction: column;
  width: 100%;

  justify-content: space-between;
}
.playlist4 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.playlist5 {
  display: flex;
  margin-left: 23px;
}
.playlist4 > h1 {
  font-size: 18px;
  color: white;
  font-family: cursive;
  height: 40px;
}
.playlist5 > h1 {
  font-size: 18px;
  color: white;
  font-family: cursive;
  height: 40px;
}
.playlist6 {
  width: 98%;
  justify-content: space-between;
  margin-left: 15px;
}
.playlist7 {
  display: flex;

  color: white;
  font-family: cursive;
  font-size: 12px;
  width: 99%;
  justify-content: space-between;
  margin: 10px;
}
.playlist8 {
  display: flex;
}
.playlist8 > img {
  width: 5%;
  margin-left: 21px;
}
.playlist9 {
  display: flex;
  justify-content: space-between;
}
.playlist9 > a {
  margin-left: 24px;
  color: white;
  text-decoration: none;
}
.playlist10 {
  display: flex;
  margin-left: 19px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
}
.playlist10 > span > span > a {
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.playlist10 > span > a {
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.playlist10 > a {
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.playlist10 > span {
  cursor: pointer;
}
.playlist10 > span > span {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: white;
}
.Album {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100%;
  flex-direction: column;
}
.Album1 {
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  background-color: rgb(168, 144, 104);
  min-width: calc(100% - 250px);
}

.Album1 > img {
  display: flex;
  position: relative;

  width: 15%;
  top: 101px;
  left: 66px;
  object-fit: cover;
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}
.Album2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;

  position: absolute;
  top: 100px;
}
.Album2 > h1 {
  display: flex;

  margin-left: 224px;
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.Album2 > h2 {
  display: flex;
  margin-top: 13px;
  margin-left: 224px;
  color: white;
  font-size: 35px;
  width: 582px;
  font-family: cursive;
}
.Album3 {
  display: flex;
  margin-top: 20px;
  min-width: calc(100% - 224px);
  height: 5%;
  margin-left: 224px;
  align-items: center;
}
.Album3 > img {
  height: 5%;
  width: 5%;
  border-radius: 50%;
}
.Album3 > a > h3 {
  margin-left: 9px;
  font-size: 15px;
  font-family: cursive;
  color: white;
}
.Album3 > a {
  text-decoration: none;
}
.Album4 {
  display: flex;
  position: relative;
  top: 90px;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  justify-content: space-between;
}
.Album5 {
  display: flex;
  width: 100%;
  min-width: 100%;
  justify-content: space-between;
}
.Album6 {
  display: flex;
  margin-left: 23px;
}
.Album5 > h1 {
  font-size: 18px;
  color: white;
  font-family: cursive;
  height: 40px;
}
.Album6 > h1 {
  font-size: 18px;
  color: white;
  font-family: cursive;
  height: 40px;
}
.Album7 {
  width: 100%;
  justify-content: space-between;
}
.Album8 {
  display: flex;

  color: white;
  font-family: cursive;
  font-size: 12px;
  width: calc(100% - 20px);
  justify-content: space-between;
  margin: 10px;
}
.Album9 {
  display: flex;
  margin-left: 15px;
}
.Album9 > img {
  width: 5%;
  margin-left: 21px;
}
.Album10 {
  display: flex;
  margin-left: 19px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Album10 > a {
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.Album11 {
  display: flex;
  justify-content: space-between;
}
.Album11 > a {
  text-decoration: none;
  color: white;
  font-family: cursive;
}
.artist {
  display: flex;
  position: relative;
  left: 250px;
  width: 81%;
  min-width: 81%;
  min-height: 100%;
  flex-direction: column;
}
.artist1 {
  height: 50vh;
}
.artist1 > img {
  display: flex;
  min-width: 103%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 6%;
}
.artist2 {
  display: grid;
  position: absolute;
  top: 172px;
  height: 192px;
  left: 36px;
}
.artist2 > h1 {
  display: flex;

  margin-left: 18px;

  font-size: 17px;
  color: white;
  font-family: cursive;
}
.artist2 > h2 {
  display: flex;
  margin-left: 14px;
  font-size: 55px;
  color: white;
  font-family: cursive;
}
.artist3 {
  display: flex;
}
.artist3 > h1 {
  display: flex;

  margin-left: 18px;

  font-size: 14px;
  color: white;
  font-family: cursive;
}
.artist4 {
  display: flex;
  position: relative;
  top: 20px;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100%;
}
.artist5 {
  display: flex;
  position: relative;
  margin-left: 30px;
  flex-direction: column;
  width: 65%;
}
.artist5 > h1 {
  display: flex;
  color: white;
  font-family: cursive;
  font-size: 30px;
}
.artist5 > button {
  display: flex;
  width: 90px;
  min-width: 75px;
  min-height: 20px;
  background-color: transparent;
  color: white;
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 14px;
  font-family: cursive;
  border: none;
  text-decoration: none;
}
.artist5 > button:hover {
  text-decoration: underline;
  color: white;
}
.artist6 {
  display: flex;
  position: relative;
  top: 12px;
  justify-content: space-between;
  margin: 0px 0px 15px;
}
.artist6 > h1 {
  color: white;
  font-size: 15px;
  font-family: cursive;
}
.artist7 {
  display: flex;
  justify-content: space-between;
}
.artist7 > h1 {
  color: white;
  font-size: 17px;
  font-family: cursive;
  margin-left: 10px;
}
.artist7 > img {
  display: flex;
  width: 51px;
  height: 49px;
  margin-left: 13px;
}
.artist71 {
  display: flex;
  justify-content: space-between;
}
.artist71 > h1 {
  color: white;
  font-size: 17px;
  font-family: cursive;
  margin-left: 0px;
}
.artist71 > img {
  display: flex;
  width: 51px;
  height: 49px;
  margin-left: 13px;
}
.artist8 {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  align-items: flex-start;
  width: 400px;
}
.artist8 > h1 {
  display: flex;
  color: white;
  font-family: cursive;
  font-size: 30px;
}
.artist9 {
  display: flex;
  margin-top: 34px;
}
.artist9 > img {
  height: 60%;
  width: 37%;
}
.artist10 > h1 {
  font-size: 0.875rem;
  margin: 0px 0px 5px 0px;
  font-family: cursive;
  width: 209px;
  color: #8b8b8b;
}
.artist10 > a {
  margin: 0px 0px 5px 0px;
  font-size: 14px;
  display: flex;
  width: 245px;
  margin-left: 21px;
  color: white;
  text-decoration: none;
}
.track {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100%;
  flex-direction: column;
}
.track1 {
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  background-color: rgb(168, 144, 104);
  min-width: calc(100% - 250px);
}

.track1 > img {
  display: flex;
  position: relative;

  width: 15%;
  top: 101px;
  left: 66px;
  object-fit: cover;
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}
.track2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;

  position: absolute;
  top: 100px;
}
.track2 > h1 {
  display: flex;

  margin-left: 224px;
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.track2 > h2 {
  display: flex;
  margin-top: 13px;
  margin-left: 224px;
  color: white;
  font-size: 35px;
  width: 582px;
  font-family: cursive;
}
.track3 {
  display: flex;
  margin-top: 20px;
  min-width: calc(100% - 224px);
  height: 5%;
  margin-left: 224px;
  align-items: center;
}
.track3 > img {
  height: 5%;
  width: 5%;
  border-radius: 50%;
}
.track3 > a > h3 {
  margin-left: 9px;
  font-size: 15px;
  font-family: cursive;
  color: white;
}
.track3 > a {
  text-decoration: none;
}
.track3 > h1 {
  margin-left: 9px;
  font-size: 15px;
  font-family: cursive;
  color: white;
}
.track4 {
  display: flex;
  position: relative;
  left: 65px;
  top: 40px;
  height: 75%;
  width: 90%;
}
.track4 > img {
  display: flex;
  height: 10%;
  width: 10%;
  border-radius: 50%;
}
.track5 {
  display: flex;
  position: relative;
  top: 10px;
  left: 18px;
  flex-direction: column;
  align-items: flex-start;
}
.track5 > h1 {
  font-size: 30px;
  color: white;
  font-family: cursive;
}
.track5 > a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: cursive;
}
.track6 {
  display: flex;
  position: relative;
  top: 87px;
  left: 63px;
  justify-content: space-between;
  margin: 0px 0px 15px;
  width: 95%;
  align-items: center;
}
.track6 > h1 {
  color: white;
  font-size: 17px;
  font-family: cursive;
}
.track7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track7 > img {
  display: flex;
  width: 51px;
  height: 49px;
  margin-left: 13px;
}
.track7 > h1 {
  color: white;
  font-size: 17px;
  font-family: cursive;
  margin-left: 10px;
}
